$electric-violet: #d500f9;
$white:#ffffff;
$black:#0c0d0e;
$silver-rand:#bbc0c4;

@mixin boxShadow(){
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}
body{
  background-color:$electric-violet;
  color: $black;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
img{
  width: 100%;
  max-width: 100%;
}
.container{
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.game-status{
  margin:1rem 0 3rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
}
.text-white{
  color: $white;
}
.border-violet{
  border: 3px solid rgba(213, 0, 249,.5);
}
.border-white{
  border: 3px solid rgba(255,255,255, .5);
}
.game-level,.game-score{
  display: flex;
  align-items: center;
  flex-direction: column;
  span{
    width:10rem;
    margin-top: .5rem;
    text-align: center;
    border-radius: .6rem;
    font-size: 2.5rem;
    @include boxShadow();
  }
}

.game-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.game{
  width: 100%;
  max-width: 100rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 1rem;
}
.card-wrap{
  flex: 0 1 calc(22.5% - 1rem);
  height: 100px;
  perspective: 600px;
  background-color: rgba(255,255,255,.2);
}
.card{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  @include boxShadow();
  border-radius: .6rem;
  img{
    max-width: 90%;
    max-height: 7rem;
  }
}
.card-face{
  position: absolute;
  top: .25rem;
  left: .25rem;
  width: calc(100% - .5rem);
  height: calc(100% - .5rem);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-back-face {
  transform: rotateY( 180deg );
}
.card.flip {
  transform: rotateY(180deg);
}
/* Modal */
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-out;
  &.open{
    visibility: visible;
    opacity: 1;
    .modal-content{
      transform: translateY(0);
    }
  }
}
.modal-content{
  width: 80%;
  max-width: 100rem;
  margin: 8rem auto 0;
  border-radius: .6rem;
  background-color:$white;
  @include boxShadow();
  transition: all .3s ease-out;
  transform: translate(0,-100rem);
}
.modal-header{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-title{
  font-size: 2rem;
  font-weight: 500;
}
.close{
  cursor: pointer;
  font-size: 3rem;
}
.modal-body{
  padding: 2rem 1rem;
  border-top: 1px solid $silver-rand;
  border-bottom: 1px solid $silver-rand;
  font-size: 2rem;
  text-align: center;
  p{
    margin-bottom: 3rem;
  }
}
.modal-footer{
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.btn{
  padding: 1rem;
  outline: none;
  border: none;
  text-align: center;
  font-size: 1.5rem;
  border-radius:.3rem;
  transition: all 0.5s;
  background-color:$electric-violet;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include boxShadow();
  &:hover{
    .btn-arrow{
      padding-left: 1rem;
    }
  }
}
.btn-arrow{
  width: 2.5rem;
  transition: all .3s ease-in-out;
}